{% extends "@RestoBundle/Resources/views/InscriptionTheme.html.twig" %}



{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('frontend/mycss/custom.css') }}">
{% endblock %}

{% block body %}
<h1 class="custom">Welcome to the InsR:DisplayInsR page</h1>
{% endblock %}

