.bg{
    background: no-repeat center center fixed   url("../img/bgr2.jpeg")   ;
 /*   height: 800px;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
