.coverr{height: 470px!important; /* tabdil orig min-height: 470px;*/}
.resto-section{background: #fff}
.btn-bar,.btn-bar:before{
    outline: none!important;
    display: inline-block;
    background-color: #0D47A1;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0;
    border-radius: 3px;
    border: 1px solid transparent;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    font-family: "Roboto",sans-serif;

   }
.btn-bar-blured{ background-color:#fff ;
    color:#0D47A1;
    border: 1px solid #0D47A1;
}
#menu-btn{
    -webkit-border-top-right-radius: 0px;-webkit-border-bottom-right-radius: 0px;}
#info-btn{-webkit-border-top-left-radius: 0px;-webkit-border-bottom-left-radius: 0px;}
#ib{display: none}
.cat-cover{padding:30px 0}
.menu-title{
    font-size:20px;background-size:cover;background:rgba(0,0,0,0.5)no-repeat;color: #fff;
    font-family: "Open Sans",sans-serif;
}
.menu-description{width:90%;display:block;font-size:15px;background-size:cover;background:rgba(0,0,0,0.5)no-repeat;color: #fff;}
@media only screen  and (max-width: 400px) {
    .btn-bar{width: 49%}#info-btn{margin-left: -2px;margin-right:2px;}#menu-btn{margin-right: -2px;margin-left: 2px;}
}
@media only screen  and (max-width: 350px) {
    .btn-bar{width: 49%}#info-btn{margin-left: -2px;margin-right:2px;}#menu-btn{margin-right: -2px;margin-left: 2px;}
}
@media only screen  and (min-width: 400px ) and (max-width: 750px){
    .btn-bar{width: 49%}#info-btn{margin-left: -3px;margin-right:3px;}#menu-btn{margin-right: -3px;margin-left: 3px;}
}
@media only screen  and (min-width: 751px ) and (max-width: 1000px){
    .btn-bar{width: 49.7%;}#info-btn{margin-left: -3px;margin-right:3px;}#menu-btn{margin-right: -3px;margin-left: 3px;}
}
@media only screen and (max-width: 769px) {
    .cat-cover{padding: 10px 0!important;}
    .menu-title{font-size: 17px}
    .menu-description{font-size: 13px}
}