<header id="header"  class="header">

    <div class="header-menu">

        <div class="col-sm-12">
            {#   <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>#}
            <div class="header-left">
                <div class="user-area dropdown float-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar custom-avatar rounded-circle"  src="{{ asset('frontend/img/logoresto.png') }}" title="test" alt="User Avatar">
                    </a>

                    <div class="user-menu dropdown-menu">
                        <a class="nav-link" href="#"><i class="fa fa- user"></i>Mon Resto</a>

                        {#   <a class="nav-link" href="#"><i class="fa fa- user"></i>Notifications <span class="count">13</span></a>#}


                        <a class="nav-link" href="#"><i class="fa fa-power -off"></i>Logout</a>
                    </div>
                </div>
                <div class="language-select dropdown" id="language-select">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown"  id="language" aria-haspopup="true" aria-expanded="true">
                        <i class="flag-icon flag-icon-fr"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="language" >
                        <div class="dropdown-item">
                            <span class="flag-icon flag-icon-gb"></span>
                        </div>
                    </div>
                </div>
                <div class="dropdown for-notification float-right"  >
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bell" style="color: #0D47A1"></i>
                        <span class="count bg-danger">5</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="notification">
                        <p class="red">You have 3 Notification</p>
                        <a class="dropdown-item media bg-flat-color-1" href="#">
                            <i class="fa fa-check"></i>
                            <p>Server #1 overloaded.</p>
                        </a>
                        <a class="dropdown-item media bg-flat-color-4" href="#">
                            <i class="fa fa-info"></i>
                            <p>Server #2 overloaded.</p>
                        </a>
                        <a class="dropdown-item media bg-flat-color-5" href="#">
                            <i class="fa fa-warning"></i>
                            <p>Server #3 overloaded.</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {#    <div class="col-sm-5">
                 <div class="user-area dropdown float-right">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         <img class="user-avatar rounded-circle" src="{{ asset('frontend/img/logoresto.png') }}" title="test" alt="User Avatar">
                     </a>

                     <div class="user-menu dropdown-menu">
                         <a class="nav-link" href="#"><i class="fa fa- user"></i>My Profile</a>

                         <a class="nav-link" href="#"><i class="fa fa- user"></i>Notifications <span class="count">13</span></a>

                         <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a>

                         <a class="nav-link" href="#"><i class="fa fa-power -off"></i>Logout</a>
                     </div>
                 </div>

                 <div class="language-select dropdown" id="language-select">
                     <a class="dropdown-toggle" href="#" data-toggle="dropdown"  id="language" aria-haspopup="true" aria-expanded="true">
                         <i class="flag-icon flag-icon-fr"></i>
                     </a>
                     <div class="dropdown-menu" aria-labelledby="language" >
                         <div class="dropdown-item">
                             <span class="flag-icon flag-icon-gb"></span>
                         </div>
                     </div>
                 </div>

             </div>#}
    </div>

</header>