<!DOCTYPE html>
<html lang="en">
<head>

    <link href="{{ asset('frontend/css/footer.css') }}" rel="stylesheet">
</head>

    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12 footer-block-information">
                <ul>
                    <li><a href="about.html">A propos</a></li>
                    <li><a href="faq.html">Faq</a></li>
                    <li><a href="contacts.html">Contacts</a></li>
                    <li><a href="#0">Reglement</a></li>

                </ul>
            </div>
        </div><!-- End row -->
        <div class="row footer-section-bottom">
            <div class="col-md-4 footer-paiment-block">
                <p style="font-size: 16px; font-weight: 600">Paiment securisé</p>
                <p>
                    <img src=" {{ asset('frontend/img/cards.png') }}" alt="" class="img-responsive">
                </p>
            </div>
            <div class="col-md-4 footer-social-media-block" >
                <div id="social_footer">
                    <p style="font-size: 16px; font-weight: 600">Rjoindre nous sur resaux sociaux</p>
                    <ul>
                        <li><a href="#0"><i class="icon-facebook"></i></a></li>
                        <li><a href="#0"><i class="icon-twitter"></i></a></li>
                        <li><a href="#0"><i class="icon-google"></i></a></li>
                        <li><a href="#0"><i class="icon-instagram"></i></a></li>
                        <li><a href="#0"><i class="icon-pinterest"></i></a></li>

                    </ul>
                </div>
            </div>
            <div class="col-md-4 footer-contact-block">
                <p style="font-size: 16px; font-weight: 600">Nous Contacter</p>
                <div class="contact-list"><i class="fa fa-map-marker-alt"></i> <span>09 rue independence ariana Tunisie</span></div>
                <div class="contact-list"><i class="fa fa-phone fa-rotate-90"></i><span>091234567</span></div>
                <div class="contact-list"><i class="fa fa-envelope" aria-hidden="true"></i><span>contact@hospeat.com</span></div>

            </div>
        </div><!-- End row -->
    </div><!-- End container -->
</html>